label {
  text-transform: capitalize;
  font-size: 2rem;
}

// INPUTS
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  padding: 1rem;
  max-width: 2ch;
  font-size: 1.8rem;
  font-family: "JetBrains Mono";
  border: none;
  border-bottom: 1px solid var(--on-background);

  &:focus {
    outline: 1px solid var(--on-background);
    outline-offset: 4px;
    border-bottom-color: var(--primary);
  }
}

.inputs__unit {
  display: flex;
  align-items: baseline;
  label {
    margin-left: 0.5rem;
    vertical-align: bottom;
    font-weight: 500;
  }
}

// BUTTONS
.btn {
  padding: 0.85rem 2.25rem;
  border-radius: 28px;
  border: none;
  transition: background-color 250ms ease, color 250ms ease;
}

.btn--primary {
  border-radius: 28px;
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  &:hover {
    background-color: var(--Primary20);
  }
}
.btn--outlined {
  border-radius: 28px;
  background-color: transparent;
  color: var(--on-background);
  border: 1px solid var(--outline);

  &:hover {
    background-color: var(--Neutral80);
  }

  &:focus {
    background-color: var(--Neutral80);
    border-color: var(--primary);
  }
}

input,
button {
  background-color: transparent;
  transition: border 250ms ease;
}

// TIMER SECTION
.time-container {
  font-family: "JetBrains Mono";
  h1 {
    font-size: clamp(3rem, 10.5vmax, 7.5rem);
    transition: color 0.1s ease;
  }
}
.inactive {
  color: var(--Neutral50);
}
.seperator {
  margin-inline: 0.25rem;
  font-size: clamp(2rem, 7.5vmin, 5.5rem);
  &::before {
    content: ":";
    font-weight: 600;
  }
}
#stop:focus {
  background-color: var(--Neutral50);
}
