label {
  text-transform: capitalize;
  font-size: 2rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  padding: 1rem;
  max-width: 2ch;
  font-size: 1.8rem;
  font-family: "JetBrains Mono";
  border: none;
  border-bottom: 1px solid var(--text);
}
button {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid var(--text);
}
input,
button {
  color: var(--text);
  background-color: transparent;
  transition: border 250ms ease;
}
input:focus {
  outline: 1px solid var(--text);
  outline-offset: 4px;
  border-bottom-color: var(--color-primary);
}
button:focus {
  background-color: var(--text-dimmed);
  border-color: var(--color-primary);
}
.inputs__unit {
  display: flex;
  align-items: baseline;
  label {
    margin-left: 0.5rem;
    vertical-align: bottom;
    font-weight: 500;
  }
}

// TIMER SECTION
.time-container {
  font-family: "JetBrains Mono";
  h1 {
    font-size: clamp(3rem, 10.5vmax, 7.5rem);
    transition: color 0.1s ease;
  }
}
.inactive {
  color: var(--text-dimmed);
}
.seperator {
  margin-inline: 0.25rem;
  font-size: clamp(2rem, 7.5vmin, 5.5rem);
  &::before {
    content: ":";
    font-weight: 600;
  }
}
#stop:focus {
  background-color: var(--text-dimmed);
}
