:root {
  --color-primary: rgb(111, 163, 219);
  --color-background: #111;
  --text: white;
  --text-dimmed: rgba(255, 255, 255, 0.2);
  --red-900: #d32f2f;
  --red-100: #ffcdd2;

  --shadow: 0 4px 0.5rem rgba(0, 0, 0, 0.2);
  font-family: "Plus Jakarta Sans";
  overflow: hidden;
}
