section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  color: var(--on-background);
}
.inputs {
  display: flex;
  flex-flow: row wrap;
  width: 45%;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 3rem;
}
.time-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#timer {
  display: none;
  position: absolute;
  z-index: 1;
  flex-direction: column;
  transition: opacity 250ms ease;
}
