@import "normalize.css";
@import "components";

:root {
  --color-primary: dodgerblue;
}

// || LAYOUT
.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputs {
  display: flex;
  width: 45%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
